html, body {
    font-size: 12px;
    min-height: 100%;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    line-height: 1.5em;
}

body {
    font-family: monospace;
    background-color: #000;
    color: #ccc;
}

textarea {
    font-family: monospace;
    background-color: #000;
    color: #ccc;
}

.cell {
    width: 12px;
    height: 12px;
    position: relative;
    background-color: #006;
}
.cell.rock {
    background-color: #666;
}
.cell.settled {
    background-color: #ca2;
}
.cell.falling {
    background-color: #ec2;
}
.cell.falling:before {
    display: block;
    content: '🐐';
    position: absolute;
    font-size: 9px;
    top: 0;
    left: 0;
}
.cell.source {
    background-color: #FF0;
}
.cell.source:before {
    display: block;
    content: '⭐';
    position: absolute;
    font-size: 9px;
    top: 0;
    left: 0;
}