<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Day 12, part 1</title>
    <link href="./styles.css" rel="stylesheet">
</head>
<body>
    <div id="app">
        <pre>
            {{
                {
                    rows,
                    columns,
                    message
                }
            }}
        </pre>
        <button
            @click="step"
        >Step</button>
        <button
            @click="animate"
        >Animate</button>
        <button
            @click="stop"
        >stop</button>
        <table>
            <tr
                 v-for="(i, y) in rows"
            >
                <td
                    v-for="(j, x) in (columns)"
                    class="cell"
                    v-bind="cellBind(x, y)"
                ></td>
            </tr>
        </table>
        <form
            @submit.prevent="handleSubmit"
        >
            <textarea
                v-model="text"
            ></textarea>
            <input type="submit" />
        </form>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./part_1.js"></script>
</body>
</html>